@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    body {
        font-size: 1.3em;
    }

    nav ul li a {
        padding: .6rem 1rem;
    }

        .container article {
        display: flex;
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery figure:hover {
        box-shadow: 5px 5px 10px gray;
    }

    main form {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main form fieldset span {
        font-size: 1.2em;
    }

    article p.town-article img {
        width: 50%;
    }

}

@media only screen and (min-width: 100em) {


}
