@media only screen and (min-width: 80em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    /*   --** Unversal page Styling **--   */
    body {
        font-size: 1.3em;
        max-width: 1200;
    }

    head, nav, main, footer {
        max-width: 1100;
    }


    /*   --** Universal nav Styling **--   */
    nav ul li a {
        padding: .6rem 1rem;
    }


    /*   --** Universal Main Styling **--   */
    main div figure img {
        max-width: 650px;
    }

    .mainContainer section {
        max-width: 800px;
    }

    /*   --** Universal Footer Styling **--   */


    /*   --** Embedded Map Styling **--   */
    #mapsmall {
        display: none;
    }
    #mapmedium {
        display: none;
    }
    #maplarge {
        width: 100%;
    }

}

@media only screen and (min-width: 100em) {


}
