@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    body {
        font-size: 1em;
        width: 80%;
    }

    header, nav, main, footer {
        max-width: 800px;
        margin: auto;
    }

    header {
        font-size: 1.5em;
    }

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul {
        border: none;
    }
    nav ul li {
        display: inline-block;
        border-bottom: none;
    }

    main h2 {
        font-size: 2em;
    }

    main section {
        float: left;
        width: 50%;
    }


    section.forecast { display:block; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

    footer {
        clear: both;
    }

}
