@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    body {
        font-size: 1.3em;
    }

    nav ul li a { padding: .6rem 1 rem;}

    main {

    }

    main section {

    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 3fr;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }



    article p.town-article img { width: 50%; }

}
